adf/pipeline/pl-ingestion-sqlserver-to-bronze.json
{
	"name": "pl-ingestion-sqlserver-to-bronze",
	"properties": {
		"activities": [
			{
				"name": "lkpgetalltables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_SCHEMA = 'Sales'\nAND TABLE_TYPE = 'BASE TABLE'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlserver_source",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreachtables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkpgetalltables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkpgetalltables').output.value\n",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "copytabletobronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sqlserver_source",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "@item().TABLE_SCHEMA",
										"schemaName": "@item().TABLE_NAME"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_bronze_parquet",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "@item().TABLE_SCHEMA",
										"tableName": "@item().TABLE_NAME"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-05-27T20:39:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}