adf-data-260524-dev/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-data-260524-dev"
		},
		"lsadlsgen2_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'lsadlsgen2'"
		},
		"lsdatabricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'lsdatabricks'"
		},
		"lssqlserveronprem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'lssqlserveronprem'"
		},
		"lsadlsgen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sadataeng260524dev.dfs.core.windows.net/"
		},
		"lsadlsgen2_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "2200ade3-19f4-434e-be4c-ba28f9269dc3"
		},
		"lsadlsgen2_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "c46c3241-c635-441f-bbf0-5fdf63ae5f18"
		},
		"lssqlserveronprem_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost\\SQLEXPRESS"
		},
		"lssqlserveronprem_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorksLT2019"
		},
		"lssqlserveronprem_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adf_user"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/lsadlsgen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Azure Data Lake Storage Gen2 to Linked service lssqlserveronprem",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('lsadlsgen2_properties_typeProperties_url')]",
					"tenant": "[parameters('lsadlsgen2_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('lsadlsgen2_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('lsadlsgen2_servicePrincipalCredential')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lsdatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405614242013965.5.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('lsdatabricks_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "13.3.x-scala2.12",
					"clusterOption": "Fixed",
					"newClusterInitScripts": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ir-selfhosted-dev')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Self-hosted IR for on-prem SQL Server (AdventureWorksLT2019) — dev environment",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_bronze_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsadlsgen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schemaName": {
						"type": "string"
					},
					"tableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().tableName, '.parquet')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@{dataset().schemaName}",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsadlsgen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lssqlserveronprem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('lssqlserveronprem_properties_typeProperties_server')]",
					"database": "[parameters('lssqlserveronprem_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('lssqlserveronprem_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('lssqlserveronprem_password')]"
					},
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				},
				"connectVia": {
					"referenceName": "ir-selfhosted-dev",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-selfhosted-dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserver_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lssqlserveronprem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tableName": {
						"type": "string",
						"defaultValue": "Sales"
					},
					"schemaName": {
						"type": "string",
						"defaultValue": "Customer"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lssqlserveronprem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl-ingestion-sqlserver-to-bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkpgetalltables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_SCHEMA = 'Sales'\nAND TABLE_TYPE = 'BASE TABLE'\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sqlserver_source",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "Sales",
									"schemaName": "Customer"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "foreachtables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lkpgetalltables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lkpgetalltables').output.value\n",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "copytabletobronze",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sqlserver_source",
											"type": "DatasetReference",
											"parameters": {
												"tableName": "@item().TABLE_SCHEMA",
												"schemaName": "@item().TABLE_NAME"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_bronze_parquet",
											"type": "DatasetReference",
											"parameters": {
												"schemaName": "@item().TABLE_SCHEMA",
												"tableName": "@item().TABLE_NAME"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "nbbronzevalidate",
						"description": "Pipeline stops here if validation fails — silver never runs on bad data",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "foreachtables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/baoshenyi7768@outlook.com/notebooks/validate_bronze"
						},
						"linkedServiceName": {
							"referenceName": "lsdatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nbbronzetosilver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "nbbronzevalidate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/baoshenyi7768@outlook.com/notebooks/bronze_to_silver"
						},
						"linkedServiceName": {
							"referenceName": "lsdatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nbsilvertogold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "nbbronzetosilver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/baoshenyi7768@outlook.com/notebooks/silver_to_gold"
						},
						"linkedServiceName": {
							"referenceName": "lsdatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-27T20:39:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_source')]",
				"[concat(variables('factoryId'), '/linkedServices/lsdatabricks')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_bronze_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Triggerdaily')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl-ingestion-sqlserver-to-bronze",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-05-28T20:23:00",
						"endTime": "2026-06-02T20:23:00",
						"timeZone": "Mountain Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl-ingestion-sqlserver-to-bronze')]"
			]
		}
	]
}